.test-scene__top:hover {
    stroke: red;
    stroke-width: 3;
    stroke-linejoin: bevel;
    stroke-dasharray: 4,1;
}

.test-scene__figure:hover {
    filter: brightness(1.5);
}

.test-scene__figure.selected {
    stroke: red;
    stroke-width: 2;
    stroke-dasharray: 2,1;
}

