@keyframes highlight {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(60deg);
    }
}

path.top:hover {
    animation: highlight 1s infinite;
}

path.top.marked {
    stroke: red;
    stroke-width: 4;
}
