@keyframes highlight {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(60deg);
    }
}

@keyframes marchingStroke {
    from {
        stroke-dashoffset: 0;
    }

    to {
        stroke-dashoffset: 4;
    }
}


path.top.marked {
    stroke: white;
    stroke-dasharray: 2,2;
    stroke-width: 2;
}

path.top.reachable {
filter: brightness(1.5);
}

path.top.selected {
    filter: hue-rotate(60deg);
}

path.top.reachable.marked {
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2,2;
    animation: marchingStroke .5s infinite linear;
}
path.top.selected.marked {
    stroke: white;
    stroke-width: 3;
    stroke-dasharray: 2,2;
    animation: marchingStroke .5s infinite linear;
}
