@keyframes marchingOutline {
    from {
        stroke-dashoffset: 0;
    }
    
    to {
        stroke-dashoffset: 5;
    }
}

.shadow.current-team.current-team {
    stroke: white;
    stroke-width: 2;
    stroke-dasharray: 4,1;
    transform-origin: unset;
    transform: scale(1.25);
}

.shadow.current-team.selected:not(.no-moves) {
    animation: infinite marchingOutline .5s linear 0s;
}

.figure.no-moves {
    filter: grayscale(1);
}
