body {
    background-color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.panel {
    background-color: white;
    padding: .25rem;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 12rem;
    min-height: 12rem;
    display: flex;
    flex-direction: column;
}

.panel .row {
    display: flex;
    margin: .125rem 0;
}

.panel p {
    margin: 0;
}

@keyframes outline {
    from {
        stroke-width: 0;
        stroke: white;

    }
    
    to {
        stroke-width: 3;
        stroke: white;
    }
}

.shadow.current-team.current-team:not(.no-moves) {
    animation: infinite outline 2s linear 0s alternate;
}

.shadow.current-team.selected:not(.no-moves) {
    animation: infinite outline .5s linear 0s alternate;
}

.figure.no-moves {
    filter: grayscale(1);
}
