body {
    background-color: beige;
}

.panel {
    background-color: aqua;
    padding: 1rem;
}

.panel .row {
    display: flex;
}

.panel p {
    margin: 0;
}

.figure.current-team {
    filter: brightness(1.5);
}

.figure.current-team.selected {
    stroke: red;
}

.figure.no-moves {
    filter: grayscale(1);
}
